.profile {
  border: 4px solid #212121;
  border-radius: 10px;
  width: 710px;
  color: black;
  overflow: hidden;
  margin: 20px auto;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 30px;
  background-color: white;
}
.imgAvatar {
  width: 265px;
  height: 265px;
  border-radius: 50%;
  background-color: #2a2a2a;
}
.name {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}
.descr {
  font-size: 48px;
  color: gray;
}
.stats {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #d3d3d3;
}
.statItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 4px solid #808080;
  height: 176px;
}
.statItem:nth-of-type(2) {
  border-left: 4px solid #808080;
  border-right: 4px solid #808080;
}
.statName {
  font-size: 48px;
  font-weight: 300;
}
.statNumb {
  font-size: 48px;
  font-weight: 600;
}
